body {
  margin: 0;
  font-family: Arial, sans-serif;
  background:radial-gradient(circle,rgb(101, 64, 214),rgb(0, 255, 119));
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
