body {
  margin: 0;
  font-family: Arial, sans-serif;
  /* background-color: #b8c6af; */
  background-color: #B8C6AF;
  /* background:radial-gradient(circle,rgb(221, 218, 230),rgb(174, 239, 204)); */
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
